<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>denfinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->
    <style type="text/css">
		textarea {
			display: block;
			width: 300px;
		}
	</style>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="promo">
      <div class="promo-mask">
        
        <nav class="navbar navbar-default navbar-static-top navbar-home" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="./">
                <img class="logo-svg" src="/images/icon_23241.svg">
                <h3 class="logo-text">DenFinder</h3>
              </a>
              <a class="navbar-brand" href="./m1">
                <h3 class="logo-text">Milestone 1</h3>
              </a>
            </div>
          </div>
        </nav>

        <div class="promo-content">
          <div class="promo-headline">
            There's No Place Like Home
          </div>
          <div class="promo-subhead">
            Find homes in neighborhoods you'll love
          </div>
        </div>
      </div>
    </div>

    <div class="housing-form-container container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2 class="text-center">
            Input Latitude and Longitude
          </h2>
          <form action="#" th:action="@{/m1}" method="post" th:object="${latLonForm}">
            <div class="form-group">
              <label for="">
                Latitude
              </label>
              <input type="text" class="form-control" placeholder="26.6645" th:field="*{latitude}" />
            </div>
            <div class="form-group">
              <label for="">
                Longitude
              </label>
              <input type="text" class="form-control" placeholder="26.6645" th:field="*{longitude}" />
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Get Data for Single Location</button>
          </form>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <h2 class="text-center">
            Input Bulk <span class="keep-together">Latitude and Longitude</span>
          </h2>
          <form id="bulk-input" action="#" th:action="@{/m1bulk}" method="post" th:object="${latLonBulk}">
            <div class="form-group">
              <label for="">
                Latitude and Longitude space separated pairs
              </label>
              <textarea th:field="*{input}" class="form-control bulk-input" name="test" form="bulk-input" placeholder="26.6645 26.6645 (etc)"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Get Data for Bulk Location</button>
          </form>
        </div>
      </div>
    </div>


    <div class="footer">
      <div class="container-fluid">
        Built with love from the Cre-double-dog-dera team  
      </div>
    </div>

    <!-- build:js scripts/main.js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
</body>
</html>